.DS_Store

.serena

.idea

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# slang i18n generated analysis files
peppercheck_flutter/assets/i18n/_*.json
