@use "tokens";

* {
  box-sizing: border-box;
}

html {
  font-family: tokens.$font-family-sans;
  font-size: 16px;
  color: tokens.$color-text;
  background-color: tokens.$color-background-white;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: tokens.$font-family-sans;
  line-height: 1.7;
  color: tokens.$color-text;
  background-color: tokens.$color-background-light;
}

body.lang-ja {
  font-size: 0.95rem;
  letter-spacing: -0.01em;
}

a {
  color: tokens.$color-text;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

img,
video {
  max-width: 100%;
  display: block;
}

button,
input {
  font-family: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: tokens.$font-family-heading;
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0;
}
