# Android studio default

*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release

# Kotlin compiler errors
.kotlin/

# From github

# Keystore files
*.jks
*.keystore

# Google services credentials
google-services.json

# Others
*.apk
*.hprof
output.json

